h1 {
  color: black;
  background-color: #33C1FF;
  font-size: 40px;
  text-align: center;
  box-sizing: border-box;
  margin: inherit;
}

h2 {
 width: 40%;
 display: inline-block;
}

#preguntados {
  text-align: left;
}

#name {
  font: bold;
  text-align: right;
  text-decoration: underline;
}


h3 {
  padding: 20px;
  margin: 0, 0, 0, 0;
  display: inline-block;
  background-color: inherit;
  border: 1px solid black;
  width: 22%;
  height: auto;
}

.seleccionado {
  padding: 20px;
  margin: 0, 0, 0, 0;
  display: inline-block;
  background-color: grey;
  border: 1px solid black;
}

img {
    width: 100px;
  height: 100px;
}

.correctas {
  width: 100%;
  height:auto;
  border: 1px solid black;
  display: inline;
  margin-right: 5em;
}

.incorrectas {
  width: 100%;
  height:auto;
  border: 1px solid black;
  display: inline;
  margin-left: 5em;
}
